{{define "DataGrip"}}

{{$host := .}}

{ 
    "endpoint": "/api/docs",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/docs",
        "method": "GET"
        }
    ]
},
{ 
    "endpoint": "/openapi.json",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/openapi.json",
        "method": "GET"
        }
    ]
},
{ 
    "endpoint": "/api/tables/get_rows",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/get_rows",
        "method": "GET"
        }
    ]
},
{ 
    "endpoint": "/api/tables/get_table",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/get_table",
        "method": "GET"
        }
    ]
},
{ 
    "endpoint": "/api/tables/filter",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/filter",
        "method": "POST"
        }
    ]
},
{ 
    "endpoint": "/api/tables/load_table",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/load_table",
        "method": "POST"
        }
    ]
},
{ 
    "endpoint": "/api/tables/list_files",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/list_files",
        "method": "GET"
        }
    ]
},
{ 
    "endpoint": "/api/tables/add_config",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/add_config",
        "method": "POST"
        }
    ]
},
{ 
    "endpoint": "/api/tables/history",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/history",
        "method": "GET"
        }
    ]
},
{ 
    "endpoint": "/api/tables/delete_table",
    "method": "DELETE",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/delete_table",
        "method": "DELETE"
        }
    ]
},
{ 
    "endpoint": "/api/tables/sort",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/sort",
        "method": "POST"
        }
    ]
},
{ 
    "endpoint": "/api/tables/pre_load_table",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/tables/pre_load_table",
        "method": "GET"
        }
    ]
},
{ 
    "endpoint": "/api/distribution/{config_id}",
    "method": "GET",
    "output_encoding": "no-op",
    "input_headers": ["*"],
    "input_query_strings": ["*"],
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "{{ $host }}/api/jwk",
            "disable_jwk_security": true,
            "operation_debug": true,
            "propagate_claims": [
            ["exp", "exp"],
            ["sub", "sub"]
            ]
        }
    },
    "backend": [
        {
        "host": ["{{ $host }}"],
        "url_pattern": "/api/distribution/{config_id}",
        "method": "GET"
        }
    ]
}

{{end}}